# Postgres connection used by data-access repository.
DATABASE_URL=

# Supabase public client configuration.
NEXT_PUBLIC_SUPABASE_URL=https://limhbsmlftgiaqxpoxkf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_PmSGTspOd7_mCMHxBa5RWQ_tLPIrslN
